@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Radley&display=swap');


/*----------------------Heading */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-text{
    font-family: 'Mark Script', cursive;
    text-align: left;
}

ul .navbar-nav {
    float: right;
}

.navbar-nav{
    font-size: 30px;
    text-decoration: none;
    padding: 0;
    margin: 0 5px 0 20px;
    position: relative;
    list-style: none;
}

.nav-item{
    background-image: url("../images/plant-wall.jpg");
    text-align: right;
    padding: 0 20% 0 20%;
    margin: 0 10px;
    position: relative;
} 

.nav-link{
    padding: 0 50% 0 50%;
    margin: 0;
    color: #ffffffc9 !important;
}



.dark-navbar {
    background-color: rgb(70, 60, 60);
}


/*----------------------Hoover CSS----*/

.social-icon:hover {
    opacity: 0.8;
}

.nav-item:hover {
    opacity: 0.8;
}

/*----------------------Footer----*/

footer{
    position: relative;
    width: 100%;
    background-color: rgb(70, 60, 60);
}


.social-network{
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    list-style-type: none;
    position: relative;
}

.social-network li{
    display: inline-block;
}

.social-icon {
    background-image: url("../images/plant-wall.jpg");
    text-align: center;
    color: white;
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    margin: 10px;
    position: relative;
}

/*--------------------Home page --*/

.home-title {
    font-family: 'Radley', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    margin-top: 70px;
}

.plants {
    padding: 20px;
}

.plant-image img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.plant-image {
    text-align: center;
}

.plant-description {
    padding: 0;
    margin: 0;
    text-align: left;
}

  .plant-description h4{
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 20px;
}

.plant-description p {
    margin: 0 0 0 20px;
}


/*-----------------------Gallery --*/


.gallery-item img {
    background-color: grey;
    width: 65%;
    height: 50%;
    padding: 6px;
    margin: 0;
}

.gallery-item {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(194, 190, 190)
}

 .gallery-section {
    margin-top: 60px;
}

 .gallery-item-1 img {
    margin-top: 7%;
}

/*--------------------Contact page --*/

.contact-title {
    font-family: 'Radley', sans-serif;
    font-weight: lighter;
    font-size: 32px;
    margin-top: 70px;
}

.form1 {
    margin: 3% 20%;
    border: 1px solid;
    padding: 5%;
    background-color: rgb(194, 190, 190);
}

.form-element {
    margin: 6px;
}

.submit-button {
    float: right;
    margin: 0 0 5px 0;
}

.form-button-wrapper {
    justify-content: center;
}



  /* Media Query for Mobile Devices */ 
  @media (max-width: 576px) { 
        .nav-item {
          background-image: unset;
          border: unset;
          padding: unset;
        }

        .plant-image img, .plant-description h4{
            text-align: center;
        }

    } 
    /* Media Query for low resolution  Tablets, Ipads */ 
    @media (min-width: 577px) and (max-width: 767px) { 
      .nav-item {
        background-image: unset;
        border: unset;
        padding: unset;
      }

      .plant-image img, .plant-description h4{
            text-align: center;
        }

       .plants {
            text-align: center;
        }

      
    } 
    /* Media Query for Tablets Ipads portrait mode */ 
    @media (min-width: 768px) and (max-width: 960px){ 
      .nav-item {
        background-image: unset;
        border: unset;
        padding: unset;
      }

       .plant-image img, .plant-description h4 {
            text-align: center;
      }

     
    }